/* 默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

ul li {
    text-decoration: none;
    list-style: none;
}


/* body */
body {
    width: 1500px;
    margin: 0 auto;
}

/* header */
header {
    /* position: fixed; */
    box-shadow: 0 1px 1px 0px rgb(0, 0, 0, 0.2);
    height: 75px;
    /* background-color: #fff; */
    /* display: flex; */
    overflow: auto;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

#logo {
    float: left;
}

#logo img {
    height: 70px;
}

nav {
    float: right;
    line-height: 75px;
}

header li {
    display: inline-block;
    margin: 0 20px;
    width: 80px;
}

header li a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: rgb(144, 147, 153);
}

header .select {
    border-bottom: 2px solid rgb(63, 158, 255);
}

header .select a {
    color: #000;
}

header a:hover {
    color: #000;
}

#login a {
    color: #000;
    height: 40px;
    line-height: 40px;
    border: 1px solid rgb(221, 223, 230);
    border-radius: 4px;
    margin: 0 auto;
}

#login a:hover {
    background-color: rgb(236, 245, 255);
    border: 1px solid rgb(198, 226, 255);
}

/* main */
main {
    height: 1000px;
    overflow: auto;
}

main .category {
    margin: 20px auto;
}

main ul {
    margin: 20px auto;
}

.imgs {
    height: 100px;
    width: 150px;
    display: block;
}

main li {
    font-size: 20px;
    width: 150px;
    display: inline-block;
    box-shadow: 0px 0px 8px 2px rgb(0, 0, 0, 0.2);
    margin: 10px 10px 0;
    border-radius: 4px;
}

main li a {
    height: 40px;
    width: 150px;
    text-align: center;
    line-height: 40px;

}

main a {
    height: 100%;
    width: 100%;
    color: rgb(63, 158, 255);
    display: inline-block
}

main a:hover {
    background-color: rgb(63, 158, 255);
    color: rgb(255, 255, 255);
}

#devTools a:hover {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#stging a:hover,
#test a:hover {
    border-radius: 4px;
}

/* footer */
footer {
    position: fixed;
    height: 80px;
    bottom: 0;
    left: 50%;
}

footer p {
    font-size: 14px;
    text-align: center;
    line-height: 80px;
}